form input.st-search-input {
  font-size: 12px;
  padding: 5px 9px 5px 27px;
  height: 18px;
  width: 200px;
  color: #666;
  border: 1px solid #ccc;
  outline: none;
  background: #fcfcfc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUFJREFUeNqU0j0oRWEcx/Hj3ifvlMHL7C1lY7mDwUBKkoksBjKJxWIQu7xlOybDLVGukhhMZDFbxGBS8nIjKR3E96nf0dPjuuVfn+6tc35P//P8/yYMw8CpbgygGQlcYw8H+Ai8MvotxQImgt81hk1M4cEPF2IV43jCGo7wjk5MYhhlGMKbG+7BKO4wiGPn8DO1vIN+jGA9fpjQaUksecG4zjGPL3VQ5IZb9OAw+LtO1FkjatxwUuEoTzjSbRu9/xO+0W97nnArqvXuoxve1/9p1OUIlmNGU7EX9+KGt3GKNuyiC5WoQAe2NJFP3PpzzmoR0khpxle6h3pnkeKJPCPjbtglerVFfWhSVxfqJtK4qrChTMY4XdjVm9O21aIA92LrFcv6HHtAsclxQVnxa0WfsqgDUib4X9muStCA2W8BBgDJ0EeGeFZ8WAAAAABJRU5ErkJggg==) no-repeat 7px 7px;
}

ul.st-autocomplete {
    font-family: 'lucida grande';
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    position: absolute;
   top: 36px;
}

ul.st-autocomplete li {
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding: 10px 8px;
    font-size: 13px;
    overflow: hidden;
}

ul.st-autocomplete li:first-child {
    border-top: none;
}

ul.st-autocomplete li.active {
    background-color: #f2f2f2;
}

ul.st-autocomplete li p {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

ul.st-autocomplete li p.title {
    color: #666;
    font-weight: bold;
}

ul.st-autocomplete li p.subtitle {
    color: #666;
		font-size: 9px;
}

ul.st-autocomplete li p.title em {
  color: #333;
}

ul.st-autocomplete li .sections {
    color: #999;
    font-size: 11px;
}

ul.st-autocomplete li .sections .section {
  display: inline;
}

ul.st-autocomplete em {
    color: #666;
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
}

ul.st-autocomplete li.active em {
    color: #000;
    font-weight: bold;
}

.result.active {
  color: red;
}
